{% extends 'base.html.twig' %}

{% block title %}Hello ProveedorController!{% endblock %}

{% block body %}
<style>
   {# estilos #}
</style>
<h1>Listado de Proveedores</h1>

    {{ dump(proveedores) }}



{% endblock %}
